@model MvcFlashCards.Models.FlashCard

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>FlashCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlashCardId" />
            <div class="form-group">
                <label asp-for="MsgFrente" class="control-label"></label>
                <textarea asp-for="MsgFrente" class="form-control" ></textarea>
                <span asp-validation-for="MsgFrente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MsgVerso" class="control-label"></label>
                <textarea asp-for="MsgVerso" class="form-control" ></textarea>
                <span asp-validation-for="MsgVerso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Voltar para meus FlashCards</a>
</div>

